{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Tarefas Pendentes{% endblock %}

{% block content %}
  <div class="h-100 p-5 bg-light border rounded-3">
    <h1>Adicionar Tarefa</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <input class="btn btn-success" type="submit" value="Salvar">
    </form>
  </div>

  <div class="h-100 p-5 bg-light border rounded-3 mt-4">
    <h1>Tarefas Pendentes:</h1>
    <div class="list-group">
      {% for tarefa in tarefas_pendentes %}
        <button type="button" class="list-group-item list-group-item-action {% if tarefa.prioridade == 'Alta' %}list-group-item-danger{% elif tarefa.prioridade == 'Média' %}list-group-item-warning{% else %}list-group-item-primary{% endif %}" data-bs-toggle="modal" data-bs-target="#modal{{ tarefa.id }}">
          <h5>{{ tarefa.descricao }}</h5>
          <small>Criado em: {{ tarefa.criacao.day }}/{{ tarefa.criacao.month }}/{{ tarefa.criacao.year }}</small>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="modal{{ tarefa.id }}" tabindex="-1" aria-labelledby="modalLabel{{ tarefa.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{ tarefa.id }}">{{ tarefa.descricao }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p><b>Prioridade:</b> {{ tarefa.prioridade }}</p>
                <p><b>Status:</b> {{ tarefa.status }}</p>
                <p><b>Data de Criação:</b> {{ tarefa.criacao.day }}/{{ tarefa.criacao.month }}/{{ tarefa.criacao.year }}</p>
                <p><b>Data de Vencimento:</b> {{ tarefa.data_vencimento }}</p>
                <p><b>Comentários:</b> {{ tarefa.comentarios }}</p>
                {% if tarefa.anexos %}
                  <p><b>Anexos:</b> <a href="{{ tarefa.anexos.url }}" target="_blank">Ver Anexo</a></p>
                {% endif %}
                {% if tarefa.tags.all %}
                  <p><b>Tags:</b> 
                    {% for tag in tarefa.tags.all %}
                      <span class="badge bg-secondary">{{ tag.nome }}</span>
                    {% endfor %}
                  </p>
                {% endif %}
                <p>
                  <a class="btn btn-success" href="{% url 'concluir_tarefa' tarefa.id %}">Concluir</a>
                  <a class="btn btn-danger" href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
                  <a class="btn btn-warning" href="{% url 'adiar_tarefa' tarefa.id %}">Adiar</a>
                  <a class="btn btn-primary" href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
